/* =========================
   CSS RESET
========================= */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    -webkit-text-size-adjust: 100%;
}

body {
    min-height: 100vh;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    display: flex;
    justify-content: center;
}

img,
picture,
svg,
video,
canvas {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

ul,
ol {
    list-style: none;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

/* =========================
   DESIGN TOKENS
========================= */

:root {
    /* =========================
     COLORS
  ========================= */

    --color-background: hsl(243, 96%, 9%);
    --color-secondary-background: hsl(243, 27%, 20%);
    --color-card-background: hsl(242, 23%, 24%);
    --color-card-background-loadstate: hsl(242, 23%, 30%);

    --color-blue-500: hsl(233, 67%, 56%);
    --color-blue-700: hsl(248, 70%, 36%);

  --color-neutral-900: hsl(243, 96%, 9%);
  --color-neutral-800: hsl(243, 27%, 20%);
  /* --color-neutral-700: hsl(243, 27%, 20%); */
  --color-neutral-600: hsl(243, 23%, 30%);
  --color-neutral-300: hsl(240, 6%, 70%);
  --color-neutral-200: hsl(250, 6%, 84%);
  --color-neutral-0:   hsl(0, 0%, 100%);

    --color-surface-primary: #ffffff;
    --color-surface-secondary: #f2f4f6;
    --color-surface-tertiary: #eceef0;

    --color-text-primary: hsl(0, 0%, 100%);
    --color-text-secondary: #3e4850;
    --color-text-inverse: #eff1f3;

    --color-primary: #006591;
    --color-primary-light: #0ea5e9;
    --color-primary-soft: #c9e6ff;

    --color-secondary: hsl(250, 6%, 84%);
    --color-secondary-light: #d0e1fb;

    --color-border: #bec8d2;
    --color-border-strong: #6e7881;

    --color-success: #4caf50;
    --color-warning: #f59e0b;
    --color-error: #ba1a1a;

    /* =========================
     TYPOGRAPHY
  ========================= */

    --font-family-body: "DM Sans", sans-serif;
    --font-family-title: "Bricolage Grotesque", sans-serif;

    --font-size-display: 5rem;
    --font-size-heading-lg: 2rem;
    --font-size-heading-md: 1.5rem;
    --font-size-body-lg: 1.125rem;
    --font-size-body-md: 1rem;
    --font-size-label: 0.875rem;
    --font-size-label-sm: 0.75rem;
    --font-size-label-xs: 0.5rem;


    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    --line-height-display: 1;
    --line-height-heading: 1.25;
    --line-height-body: 1.5;

    /* =========================
     SPACING
  ========================= */

    --space-xxs: 0.25rem;
    --space-xs: 0.5rem;
    --space-sm: 0.75rem;
    --space-md: 1.5rem;
    --space-lg: 2.5rem;
    --space-xl: 4rem;

    --layout-gutter: 1rem;
    --layout-safe-area: 1.5rem;

    /* =========================
     BORDER RADIUS
  ========================= */

    --radius-sm: 0.25rem;
    --radius-md: 0.5rem;
    --radius-lg: 1rem;
    --radius-xl: 1.5rem;
    --radius-pill: 9999px;

    /* =========================
     SHADOWS
  ========================= */

    --shadow-soft:
        0 4px 20px rgba(0, 0, 0, 0.04);

    --shadow-medium:
        0 8px 30px rgba(0, 0, 0, 0.06);

    --shadow-large:
        0 20px 40px rgba(0, 0, 0, 0.08);

    /* =========================
     GLASS EFFECT
  ========================= */

    --glass-background: rgba(255, 255, 255, 0.7);
    --glass-border: rgba(255, 255, 255, 0.4);
    --glass-blur: blur(15px);

    /* =========================
     TRANSITIONS
  ========================= */

    --transition-fast: 150ms ease;
    --transition-base: 250ms ease;
    --transition-slow: 400ms ease;

    /* =========================
     LAYOUT
  ========================= */

    --container-width: 1200px;
}

/* =========================
   BASE STYLES
========================= */

body {
    font-family: var(--font-family-body);
    font-size: var(--font-size-body-md);
    background-color: var(--color-background);
    color: var(--color-text-primary);
    /* background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%); */

}

/* =========================
   ACCESSIBILITY
========================= */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.app {
    width: 90%;
    max-width: 1100px;
    margin-block-end: var(--space-lg);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block-start: var(--space-sm);
    /* padding-inline: var(--space-xs); */
}

.header__logo {
    font-size: var(--font-size-heading-md);
    font-weight: var(--font-weight-regular);
    text-transform: uppercase;
}

.header__logo span {
    font-weight: var(--font-weight-medium);
}

.hero {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: var(--space-xl)
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.hero-content h2 {
    font-size: 2.5rem;
    margin-block-end: var(--space-lg);
}

.search-form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.input-group {
    display: flex;
    gap: 0.75rem;
    /* width: 100%; */
}

input {
    border-radius: var(--radius-md);
    border: 1px solid transparent;
    background-color: var(--color-card-background);
    padding: var(--space-xxs) 1rem;
    box-shadow: var(--shadow-soft);
    width: 350px;
    font-family: inherit;
}

input {
    color: var(--color-text-primary)
}

input::placeholder {
    font-size: 0.85rem;
    color: var(--color-text-inverse)
}

.input-group button {
    background-color: var(--color-blue-500);
    border: none;
    border-radius: var(--radius-md);
    cursor: pointer;
    display: flex;
    align-items: center;
    color: var(--color-text-primary);
    padding: var(--space-xs) var(--space-sm);
    font-size: 0.85rem;
}


/* ==== Main Content ==== */

.main-content {
    display: grid;
    gap: var(--space-md);
    grid-template-columns: minmax(400px, 650px) minmax(150px, 1fr);
    align-items: start;
}

/* ===== Dashboard Left ===== */

.current-weather {
    /* margin-block-start: var(--space-xl); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-end: var(--space-md);
    /* background-image: url("./icons/bg-today-large.svg"); */
    background-color: var(--color-card-background);
    background-position: right;
    padding: var(--space-md);
    border-radius: var(--radius-lg);
    color: white;
    height: 250px;
}

.current-weather.skeleton {
    justify-content: center;
    gap: 0.75rem;
}

.current-weather__display-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.current-weather__city {
    font-size: var(--font-size-heading-lg);
}

.current-weather__local-time {
    font-size: var(--font-size-label-sm);
    margin-block-end: var(--space-sm)
}

.current-weather__summary {
    display: flex;
    align-items: center;
    gap: var(--space-sm);
    font-size: var(--font-size-heading-md);
}

.current-weather__temperature-group {
    display: grid;
    font-family: var(--font-family-title);
    gap: var(--space-sm);
    margin-block-start: var(--space-sm);
}

.current-weather__condition {
    text-transform: uppercase;
}

.current-weather__temperature {
    font-size: 6rem;
    font-weight: 300;
    line-height: 1;
}

.temperature-range {
    display: flex;
    gap: 1rem;
}

.temperature-range__item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.temperature-range__label {
    font-size: var(--font-size-label-sm);
    text-transform: uppercase;
    font-weight: 300;
}

.temperature-range__value {
    font-size: var(--font-size-label);
    font-weight: var(--font-weight-semibold);
}

/* ===== Dashboard Right ====== */

.dashboard-left,
.dashboard-right {
    min-height: 0;
}

.dashboard-right {
    height: 100%;
    overflow-y: auto;
    position: relative;
}

.weather-metrics {
    display: grid;
    align-items: end;
    box-shadow: var(--shadow-soft);
}

.weather-metrics__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--space-md)
}

.metric-card__title {
    font-size: var(--font-size-label-xs);
}

.weather-metrics__item {
    background-color: var(--color-card-background);
    border-radius: var(--radius-md);
    border: 1px solid var(--color-neutral-600);
    height: 100px;
}

.metric-card {
    height: 100%;
    display: grid;
    padding: var(--space-sm);
    align-content: space-between;
}

.metric-card__value {
    font-weight: var(--font-weight-semibold);
    /* font-family: var(--font-family-title); */
    font-size: 1.5rem;
    font-weight: 300;
}

/* ===== Weather Forecast ====== */

.weather-forecast {
    margin-block-start: var(--space-lg)
}

.weather-forecast,
.weather-hourly-forecast {
    width: 100%;
    border-radius: var(--radius-lg);
}

.weather-hourly-forecast {
    background-color: var(--color-secondary-background);
    padding: 1rem;
    overflow-y: scroll;
    height: 100%;
    position: absolute;
}

h3 {
    margin-block-end: var(--space-sm)
}

h2,
h3 {
    font-family: var(--font-family-title);
}

.weather-forecast-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    overflow: scroll;
    gap: var(--space-sm);
}

.weather-hourly-forecast-list {
    display: grid;
    gap: var(--space-sm);
    overflow: scroll;
}

.weather-forecast-list li,
.weather-hourly-forecast-list li {
    cursor: pointer;
    transition: background-color 0.15s ease-in;
    background-color: var(--color-card-background);
    border-radius: var(--radius-md);

}

.weather-forecast-list li {
    padding: var(--space-xs);
    height: 140px;
    border: 1px solid var(--color-neutral-600);
}

.weather-hourly-forecast-list li {
    padding: var(--space-xs);
    border: 1px solid var(--color-neutral-600);
    box-shadow: var(--shadow-medium);
    /* height: 60px; */
}

.weather-forecast-list li:hover,
.weather-hourly-forecast-list li:hover {
    background-color: var(--color-card-background);
}

.weather-forecast-list .forecast-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 60px;
}

.weather-hourly-forecast-list .forecast-card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather-forecast-list .forecast-card__temperature-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.forecast-card__day,
.forecast-card__high-temp,
.forecast-card__low-temp,
.forecast-card__precipitation {
    font-size: var(--font-size-label-sm);
    text-transform: uppercase;
}

.forecast-card__precipitation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.forecast-card__high-temp {
    font-weight: var(--font-weight-semibold);
}

.forecast-card__low-temp {
    color: var(--color-secondary)
}


/* ICONS */

.current-weather__main-icon {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.current-weather svg {
    fill: white
}

.material-symbols-outlined {
    height: 30px;
    width: 30px;
}

body > div > main > div.dashboard-left > section.weather-forecast > ul > li > article > div.forecast-card__icon > img {
    height: 40px;
    width: 40px;
}

.metric-card__title {
    font-size: 0.9rem;
    color: var(--color-text-inverse);
    font-weight: var(--font-weight-regular);
}

/* .weather-metrics__list {
    grid-template-columns: 1fr;
 } */

 .skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
 }

 .img-skeleton {
    height: 30px;
    width: 30px;
 }

 @keyframes skeleton-loading {
    0% {
        background-color: var(--color-card-background-loadstate);
    }
    100% {
        background-color: var(--color-card-background);
    }
    
 }

 @keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 1.2s linear infinite;
}

.last-list-item {
    height: 100%;
    text-align: center;
}